.cant-scroll {
  opacity: 0;
  transition: 300ms all ease-out;
}

.cant-scroll {
  opacity: 0;
  transition: 300ms all ease-out;
  pointer-events: none;
}

.is-left {
  transform: translateX(calc(-100% - 32px)) translateY(20px) !important;
}
/* 
@media screen and (min-width: 768px) {
  .project-grid-item {
    width: 66%;
    flex-basis: 1;
  }

  .project-grid-item:nth-child(2),
  .project-grid-item:nth-child(3),
  .project-grid-item:nth-child(5),
  .project-grid-item:nth-child(7),
  .project-grid-item:nth-child(8),
  .project-grid-item:nth-child(10n + 2),
  .project-grid-item:nth-child(10n + 3),
  .project-grid-item:nth-child(10n + 5),
  .project-grid-item:nth-child(10n + 7),
  .project-grid-item:nth-child(10n + 8) {
    width: 33%;
    flex-shrink: 0;
    flex-basis: 1;
  }
} */

[data-point="point"][data-open="true"] [data-point="marker"] > div {
  background: var(--archallblue) !important;
}

[data-point="marker"] > div {
  transition: 150ms ease-out all;
}
