.link__underline {
  position: relative;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 250ms;
}

.link__underline::before {
  position: absolute;
  content: "";
  background: #0086bf;
  height: 1.5px;
  width: 100%;
  left: 0;
  bottom: -1px;
  transform-origin: left;
  transform: scaleX(0%);
  transition-delay: 310ms;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 520ms;
}

.link__underline:hover {
  color: #0086bf;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 250ms;
}

.link__underline::after {
  position: absolute;
  content: "";
  background: #0086bf;
  height: 1.5px;
  width: 100%;
  left: 0;
  bottom: -1px;
  transform-origin: right;
  transform: scaleX(100%);
  transition: cubic-bezier(0.65, 0, 0.35, 1) 400ms;
}

.link__underline:hover::after {
  transform: scaleX(0%);
  transition: cubic-bezier(0.65, 0, 0.35, 1) 400ms;
}

.link__underline:hover::before {
  transform: scaleX(100%);
  transition-delay: 310ms;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 520ms;
}
.with-slashes::before {
  position: absolute;
  left: -1.02em;
  top: 0;
  font-weight: 900;
  content: "//";
  display: block;
  font-size: inherit;
  font-family: "Swis 721 Extended", sans-serif;
  color: #0086bf;
}

@media screen and (max-width: 768px) {
  .with-slashes::before {
    position: absolute;
    left: 2.18em;
    top: 0;
    font-weight: 900;
    content: "//";
    display: block;
    font-size: inherit;
    font-family: "Swis 721 Extended", sans-serif;
    color: #0086bf;
  }
}

.with-slashes {
  position: relative;
  text-indent: 1.02em;
}

[data-nav="images"] img.active-image {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

[data-nav="images"] img {
  transition: opacity 300ms ease-out;
}

[data-nav="trigger"] {
  color: white !important;
  font-size: 14px !important;
  float: none !important;
  font-weight: 300 !important;
  -webkit-tap-highlight-color: transparent !important;
}

[data-slider="wrapper"] {
  cursor: grab;
}

[data-slider="wrapper"]:active {
  cursor: grabbing;
}

.inset-hover {
  clip-path: inset(0px 0px 0px 0px);
  transform-origin: center;
  transition: 280ms ease-out;
}

.inset-hover:hover {
  clip-path: inset(12px 12px 12px 12px);
  transform-origin: center;
  transition: 280ms ease-out;
}
