/* .project-list-item:hover img {
    transform-origin: center;
    transition: 280ms ease-out;
}

.project-list-item img {
    transform-origin: center;
    transition: 280ms ease-out;
} */

.project-list-item {
    clip-path: inset(0px 0px 0px 0px);
    transform-origin: center;
    transition: 280ms ease-out;
}

.project-list-item:hover {
    clip-path: inset(12px 12px 12px 12px);
    transform-origin: center;
    transition: 280ms ease-out;
}



/* .project-list-item img {
    scale: 1;
    transform-origin: center;
    transition: 280ms ease-out;
}

.project-list-item:hover img {
    scale: 1.12;
    transform-origin: center;
    transition: 280ms ease-out;
} */