.with-slashes {
  position: relative;
  text-indent: 40px;
}
.with-slashes::before {
  position: absolute;
  left: -40px;
  top: 0;
  font-weight: 900;
  content: "//";
  display: block;
  font-size: inherit;
  font-family: "Swis 721 Extended", sans-serif;
  color: #0086bf;
}

@media screen and (max-width: 991px) {
  .with-slashes {
    text-indent: 30px;
  }
  .with-slashes::before {
    position: absolute;
    left: -26px;
  }
}

.link__underline {
  position: relative;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 250ms;
}

.link__underline::before {
  position: absolute;
  content: "";
  background: #0086bf;
  height: 1.5px;
  width: 100%;
  left: 0;
  bottom: -1px;
  transform-origin: left;
  transform: scaleX(0%);
  transition-delay: 310ms;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 520ms;
}

.link__underline:hover {
  color: #0086bf;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 250ms;
}

.link__underline::after {
  position: absolute;
  content: "";
  background: #0086bf;
  height: 1.5px;
  width: 100%;
  left: 0;
  bottom: -1px;
  transform-origin: right;
  transform: scaleX(100%);
  transition: cubic-bezier(0.65, 0, 0.35, 1) 400ms;
}

.link__underline:hover::after {
  transform: scaleX(0%);
  transition: cubic-bezier(0.65, 0, 0.35, 1) 400ms;
}

.link__underline:hover::before {
  transform: scaleX(100%);
  transition-delay: 310ms;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 520ms;
}

.button__hover {
  transform: scale(1);
  outline: 1.5px solid transparent;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 240ms;
}

.button__hover:hover {
  transform: scale(1.0375);
  background: transparent;
  outline: 1.5px solid #333;
  color: #333 !important;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 240ms;
}

.hero-slider .button__hover:hover {
  background: #333;
  transform: scale(1) !important;
  color: white !important;
  outline: none !important;
  transition: cubic-bezier(0.65, 0, 0.35, 1) 240ms;
}
